/* CSS Styles para Amor Electro Website */
p, h5, h6 {
    font-size: 20px;
    font-family:Arial;
    text-align:center;
    

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 30px;
    color: white;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;

}

/*Colunas*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.bio-col {
    flex: 1;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    min-width: 250px;
}

/* Gallery Style */
.gallery-grid {
    display: flex;
    gap: 15px;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.gallery-grid img {
    flex: 1;
    min-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

/*Cartões de Informação*/
.members-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 40px;
    flex-wrap: wrap;
}

/*Rodapé*/
.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.social-links a {
    color: #00adb5;
    text-decoration: none;
    
}

